@import "less/variables.less";
@import "less/reset.less";


body {
    font-family: 'Source Sans Pro', sans-serif;

    #header {
        position: absolute;
        top: 0;
        width: 100%;
        background-color: aqua;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        #logo {
            margin: 40px;
        }

        #menu {
            margin: 40px;
        }
    }

    .frames {
    }

    #frame-01 {
        background-color: antiquewhite;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .button {
        cursor: pointer;
    }


}
